<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd

">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cdn.runtu123.com/app/uploads/qmyl.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>com.slot.qmyl</key>
                <string>com.aruistar.cmcapp</string>
                <key>1.0</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>大升科技</key>
                <string>cmcapp</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
